<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>VueJS Tutorial</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>{{ greet('morning')}}</h1>
      <p>Name: {{ name }}</p>
      <p>Job: {{ job }}</p>
      <a v-bind:href="website">Jillo Woche</a>
      <p v-html="websiteTag"></p>
      <p>Age: {{ age }}</p>
      <button v-on:click.once="addAge(1)">Add Age</button>
      <button v-on:click="subtractAge(1)">Subract Age</button>
      <button @dblclick="addAge(10)">Add 10 years</button>
      <button @dblclick="subtractAge(10)">Subract 10 years</button>
      <a @click.prevent="click" href="https://jillowoche.dev"
        >Prevent Event Modifier link</a
      >
      <div id="canvas" v-on:mousemove="updateXY">{{ x }},{{ y }}</div>
      <h1>Keyboard events</h1>
      <label>Name:</label>
      <input type="text" v-model="name" />
      <span>{{ name }}</span><br />
      <label>Age:</label>
      <input type="text" v-model="age" />
      <span>{{ age }}</span>
    </div>
    <script src="app.js"></script>
  </body>
</html>
